html {
  user-select: none;
  overflow: hidden !important;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: #FFFF99;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
